:root {
    --body-background-color: #F5F5F5;;
    --hover-color: #2196F3;
    --text-articl-color: #757575;
    --text-title-color: #212121;
    --footer-color:#2F303A;
    --black-color: #000000;
    --white-cololr: #FFFFFF;
    --team-section-color: #F5F4FA;
    --info-footer-color: #ffffff99;
    --btn-hover-color: #188CE8;
    --border-color-image: #EEEEEE;
    --header-border: #ECECEC;



}
body {
font-family: 'Roboto', sans-serif;
color: var(--text-title-color);
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p 
{
margin-top: 0;
margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list 
{
list-style: none;
padding-left: 0;
margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link 
{
text-decoration: none;
color: inherit;
}

/* Свойства для корректного отображения картинок */
img 
{
display: block;
max-width: 100%;
height: auto;
}

/* Свойства для обнуления курсива у address */
address 
{
font-style: normal;
}

li 
{
list-style-type: none;
}

.container {
width: 1200px;
margin: 0 auto;
padding: 0 15px;
}

.link-nav.current /*Подсветка страницы на которой находимся*/
{
color: var(--hover-color);
}   

/**header section*/
/*logo*/

.header
{
border-bottom: 1px solid var(--header-border);
}


 .nav-box 
 {
display: flex;
align-items: center;
 }

.header-logo
{
margin-right: 93px;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--black-color);
letter-spacing: 0.03em;
text-decoration: none;
}

.logo-web-header 
{
color: var(--hover-color);
}


.header-list
{
display: flex;
margin-top: 0%;
margin-bottom: 0%;
padding-left: 0%;
}

.header-item
{
margin-left: 50px;
}

.header-item:first-child 
{
margin-left: 0;
}

.header-info 
{
display: flex;
justify-content: flex-end;
}

.link-nav
{
display: block;
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--text-title-color);
letter-spacing: 0.02em;
text-decoration: none;
}

.link-nav:hover, 
.link-nav:active,
.link-nav:focus 
{
font-weight: 500;
font-size: 14px;
line-height: 0.9;
color: var(--hover-color);
}

.header-info-item:not(:first-child) 
{
margin-left: 50px;
}

.header-info.list
{
margin-left: auto;
}


.link-info
{
display: block;
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--text-articl-color);
letter-spacing: 0.02em;
text-decoration: none;
}

.link-info:hover, 
.link-info:active, 
.link-info:focus 
{
color: var(--hover-color);
}



/**footer*/
.footer {
background-color: var(--footer-color);
padding-top: 60px;
padding-bottom: 60px;
}

.logo-link-footer 
{
margin-bottom: 20px;
}

.footer-logo 
{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
font-style: normal;
color: var(--white-cololr);
}

.logo-web-footer 
{
color: var(--hover-color);
}

.address {
margin-top: 20px;
}

.address-list 
{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

.address-item
{ 
margin-bottom: 9px;
}

.address-item:last-child 
{
margin-bottom: 0;
}

.address-map 
{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: var(--white-cololr);
font-style: normal;
text-decoration: none;
}

.address-link 
{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: var(--info-footer-color);
font-style: normal;
text-decoration: none;
}

.address-link:hover,
.address-map:hover,
.address-link:active,
.address-map:active,
.address-link:focus,
.address-map:focus
{
color: var(--hover-color);
font-style: normal;
}



/**Webstudio page*/ 
/*Hero section*/
.hero 
{
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
background-color: var(--footer-color);
list-style-type: none;
}

.hero-title 
{
margin-left: auto;
margin-right: auto;
width: 696px;
height: 120px;
text-align: center;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: var(--white-cololr);
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;
}

.btn-hero 
{
padding: 10px 32px;
background: var(--hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;       
color: var(--white-cololr);
letter-spacing: 0.06em;
cursor: pointer;
}

.btn-hero:hover
{
background-color: var(--btn-hover-color);
}

.btn-hero:active 
{
border-color: var(--hover-color);
background-color: var(--hover-color);
}

/*our benefits section*/
.benefits 
{
list-style-type: none;
padding-top: 94px;
padding-bottom: 94px;
}

.benefits-list 
{
display: flex;
padding: 0;
}

.benefits-item
{
flex-basis: 270px;
margin-left: 30px;
}

.benefits-item:first-child 
{
margin-left: 0px;
}

.visually-hidden 
{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}


.benefits-title
{
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--text-title-color);
letter-spacing: 0.03em;
}

.benefits-texts
{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--text-articl-color);
letter-spacing: 0.03em;
}

/*our works section*/

.works 
{
padding-bottom: 94px;
}
.work-title {
margin-bottom: 50px;
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--text-title-color);
letter-spacing: 0.03em;
}

.work
{
display: flex;
list-style-type: none;

}

.work-item
{
display: inline-block;
}

.work-item:not(:last-child)
{
margin-right: 30px;
}



/*our team section*/
.team
{
background-color: var(--team-section-color);
list-style-type: none;
}

.section.team 
{
padding-top: 94px;
padding-bottom: 94px;
}

.team.list 
{
display: flex;
}

.team-item 
{
width: 270px;
background-color: var(--white-cololr);
}

.team-item:not(:first-child)
{
margin-left: 30px;
}


.team-title
{
margin-bottom: 50px;
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
color: var(--text-title-color);
letter-spacing: 0.03em;
}


.name-title {
padding-top: 30px;
padding-bottom: 30px;

}

.team-name
{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
color: var(--text-title-color);
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 10px;
}

.team-text
{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
color: var(--text-articl-color);
text-align: center;
letter-spacing: 0.03em;
}

/**Portfolio page**/
/*Sorting btn*/

.portfolio 
{
padding-top: 94px;
padding-bottom: 94px;
}
.btn-group.list
{
margin-bottom: 56px;
}
.btn-group
{
display: flex;
justify-content: center;
list-style-type: none;
}

.btn-item:nth-child(n+1) 
{
margin-left: 8px;
}

.btn-links
{
padding: 6px 22px;
cursor: pointer;
border: none;
border-radius: 4px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}

.btn-links:hover,
.btn-links:active,
.btn-links:focus
{
background-color: var(--hover-color);
color: var(--white-cololr);
}

.examples 
{
list-style-type: none;
}

.examples.list {
display: flex;
flex-wrap: wrap;
}

.examples-item.img 
{
display: block;
margin-bottom: 20px;
}

.examples-item 
{
width: 370px;
margin-right: 30px;
margin-bottom: 30px;

}

.examples-item:nth-child(3n)
{
margin-right: 0;
}

.examples-item:nth-last-child(-n+3)
{
margin-bottom: 0;
}

.examples-name
{
padding: 20px 24px;
border: 1px solid var(--border-color-image);
border-top: none;
}

.examples-title
{
margin-bottom: 4px;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;
color: var(--text-title-color);
}

.examples-text
{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
color: var(--text-articl-color);
letter-spacing: 0.03em;
}
